[submodule "Game_Music_Emu"]
	path = Game_Music_Emu
	url = https://github.com/maxim-zhao/game_music_emu.git
[submodule "PSXCore"]
	path = PSXCore
	url = https://bitbucket.org/losnoco/highly_experimental.git
[submodule "zlib/zlib"]
	path = zlib/zlib
	url = https://github.com/madler/zlib.git
	branch = master
